.showAnswer {
  width: 200px;
  height: 50px;
  margin: 20px;
  background-color: #57B789;
  color: #fff;
  border-radius: 5px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}

.showAnswer:hover {
  color: #57B789;
  background-color: #fff;
  border: 2px solid #57B789;
}

.answer {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.true {
  background-color: blue;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  border-radius: 4px;
  width: 30%;
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
}

.false {
  background-color: red;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  border-radius: 4px;
  width: 30%;
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
}