.input {
  display: block;
  text-align: center;
  width: 80%;
  height: 40px;
  font-size: 16px;
  margin: 70px auto 0;
}

.button {
  width: 80px;
  height: 40px;
}

.button {
  box-sizing: border-box;
  font-weight: 1000;
  width: 150px;
  height: 50px;
  margin: 40px 0 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #3795f3;
  color: #ffffff;
  border: 2px solid #ffffff;
  transition: 0.5s;
}

.button:hover {
  background-color: #ffffff;
  color: #3795f3;
  border: 2px solid #3795f3;
}

.categories {
  display: flex;
  width: 80%;
  height: 50px;
  margin: 0 auto;
  align-items: flex-start;
  justify-content: space-evenly;
}

.category {
  padding: 5px 20px;
  border-radius: 5px;
  box-shadow: 0 0 2px 0;
  cursor: pointer;
  transition: 0.3s;
}

input.number_of_quiz {
  height: 40px;
  width: 100px;
  text-align: center;
}

.level button {
  padding: 5px 20px;
  margin: 0 16px;
}