ul {
  all:unset;
}

fieldset {
  width: 90%;
  margin: 0 auto;
  padding: 0;
}

.problem_list {
  list-style: none;
  padding-left: 0;
}

li {
  border: solid 2px;
  border-radius: 5px;
  margin: 8px 0;
  padding: 8px;
  cursor: pointer;
}

li * {
  cursor: pointer;
}

input {
  /* width: 0;
  height: 0; */
}

input + p {
  display: inline-block;
  margin: 0;
  margin-left: 8px;
}