.header {
  width: 100%;
  height: 70px;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  flex-direction: row-reverse;
  background-color: #57b789;
}

.header_button {
  all: unset;
  color: #fff;
  font-weight: 700;
  background-color: #c3dfd28f;
  height: 50px;
  width: 130px;
  text-align: center;
  cursor: pointer;
  margin: 10px 50px;
  border-radius: 5px;
  box-sizing: border-box;
}

.quizSetting {
  height: 400px;
  padding: 28px;
  margin: 0 auto;
  text-align: center;
  border-radius: 16px;
  box-shadow: 0 0 4px #000;
  background-color: #fefefe;
}

.status {
  display: inline-block;
  margin: 30px;
}

.status_text {
  display: inherit;
  margin-right: 10px;
}

.status_ready {
  display: inherit;
  width: 100px;
  padding: 3px 0;
  text-align: center;
  border-radius: 6px;
  color: #FFF;
  background-color: rgb(34, 145, 230);
}

.status_start {
  display: inherit;
  width: 100px;
  padding: 3px 0;
  text-align: center;
  border-radius: 6px;
  color: #FFF;
  background-color: rgb(83, 198, 25);
}

.status_finish {
  display: inherit;
  width: 100px;
  padding: 3px 0;
  text-align: center;
  border-radius: 6px;
  color: #FFF;
  background-color: rgb(220, 128, 23);
}

.status_error {
  display: inherit;
  width: 100px;
  padding: 3px 0;
  text-align: center;
  border-radius: 6px;
  color: #FFF;
  background-color: rgb(206, 15, 15);
}

fieldset {
  border: none;
}

.control {
  opacity: 0;

  &[data-inactive] {
    opacity: 0;
    cursor: default;
  }
}

.button_low {
  text-align: center;
  margin: 0 8px;
}

.reset {
  all: unset;
  color: #fff;
  font-weight: 700;
  background-color: #57B789;
  height: 50px;
  width: 130px;
  text-align: center;
  cursor: pointer;
  margin: 10px 50px;
  border-radius: 5px;
  box-sizing: border-box;
  transition: 0.5s;
}

.reset:hover {
  color: #57B789;
  background-color: #fff;
}

.button_low span span {
  width: 100px;
  justify-content: center;
}

.quiz_show {
  display: block;
  position: relative;
  top: 30px;
}

.quiz_hidden {
  display: none;
}